@model eventchain.Models.Event
@{
    ViewData["Title"] = "Buy Success";
}

<section class="header1 cid-s48MCQYojq mbr-fullscreen mbr-parallax-background" id="header1-f">



    <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(255, 255, 255);"></div>

    <div class="align-center container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <h1 class="mbr-section-title mbr-fonts-style mb-3 display-1"><strong>You're Nearly There!</strong></h1>

                <p class="mbr-text mbr-fonts-style display-7">Please cheack your email for your Ticket. You will need to produce your ticket for admission.<br></p>
                <div class="mbr-section-btn mt-3"><a class="btn btn-success display-4" style="color: blue" asp-area="" asp-controller="Tickets" asp-action="Index">Return to Your Tickets</a></div>
            </div>
        </div>
    </div>
</section>