@{
    ViewData["Title"] = "Home";
}

<section class="video4 cid-ssj39brdve" id="video4-14">
    
    
    <div class="container">
        <div class="title-wrapper mb-5">
            <h4 class="mbr-section-title mbr-fonts-style mb-0 display-2"><strong>About Eventchain</strong></h4>
        </div>
        <div class="row align-items-center">
            <div class="col-12 col-lg-6 video-block">
                <div class="video-wrapper"><iframe class="mbr-embedded-video" src="https://www.youtube.com/embed/AdZIkm750R0" width="1280" height="720" frameborder="0" allowfullscreen></iframe></div>

            </div>
            <div class="col-12 col-lg">
                <div class="text-wrapper">
                    <h5 class="mbr-section-subtitle mbr-fonts-style mb-3 display-5">
                        <strong>What is Eventchain?</strong></h5>
                    <p class="mbr-text mbr-fonts-style display-7">Eventcahin is a prototype event ticket marketplace enabled by blockchain.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content4 cid-ssj8TCO2RB" id="content4-16">
    
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-md-12 col-lg-10">
                <h3 class="mbr-section-title mbr-fonts-style align-center mb-4 display-2">
                    <strong>Why does Eventchain Exist?</strong></h3>
                <h4 class="mbr-section-subtitle align-center mbr-fonts-style mb-4 display-5">Eventchain was developed as a Final Year Project for the BIS undergraduate degree at University College Cork. This project was undertaken in order to propose a commercial solution to the fraud that can occur in secondary ticket markets.&nbsp; &nbsp;&nbsp;</h4>
                
            </div>
        </div>
    </div>
</section>

<section class="content4 cid-ssjb366lfD" id="content4-18">
    
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-md-12 col-lg-10">
                <h3 class="mbr-section-title mbr-fonts-style align-center mb-4 display-2">
                    <strong>How Eventchain Works</strong></h3>
                
                
            </div>
        </div>
    </div>
</section>

<section class="image3 cid-ssjbos5S0t" id="image3-19">
    

    

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-9">
                <div class="image-wrapper">
                    <img src="~/assets/images/screenshot-2021-03-21-at-16.16.38-1646x1029.png" alt="Mobirise">
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content9 cid-ssjcpHRfXQ" id="content9-1b">
    

    <div class="container">
        <div class="row justify-content-center">
            <div class="counter-container col-md-12 col-lg-10">
                
                <div class="mbr-text mbr-fonts-style display-7">
                    <ol>
                        <li><strong>Web Application. </strong>The front end web application allows easy access to the maximum user base as it can used on any device with a web browser regardless of operating system. The front end app also serves as a method to abstract users from the technicalities of blockchain technologies while delivering them its merits through an intuitive familiar interface.&nbsp; &nbsp;</li>
                        <li><strong>Blockchain. </strong>The blockchain facilitates the integrity of the system. When a ticket is first purchased a unique non fungible token (to the ERC721 standard) is issued to the users account. Each token represents one ticket and relates to a given optical scanning code held by Eventchain. Users will use this optical code to gain admission and can redeem it to their email for any ticket in their ownership. Users can place tickets they would like to resell "on the market" and if a purchase is made this ticket will then be transferred to it's new owner and this transfer will be recorded on the blockchain. This ensures buyers know the ticket they are receiving is not fraudulent and creates integrity for the facilitator (Eventchain) as an immutable record of all transactions and ownerships exists.&nbsp;&nbsp;<strong>&nbsp;</strong></li><li><strong>API service. </strong>This service provides a bespoke and structured way for the web app to communicate with the front end web app. Built to the Swagger 2.0 standard this API makes understanding and future development "low friction". The API documentation can be found <a href="http://eventchain.ie:8080/api-docs" class="text-primary" target="_blank">here</a>.</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content4 cid-ssjkFgfqx5" id="content4-1d">
    
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-md-12 col-lg-10">
                <h3 class="mbr-section-title mbr-fonts-style align-center mb-4 display-2">
                    <strong>Who Developed Eventchain</strong></h3>
                
                
            </div>
        </div>
    </div>
</section>

<section class="team2 cid-ssjiU55WTi" xmlns="http://www.w3.org/1999/html" id="team2-1c">
    
    
    <div class="container">
        <div class="card">
            <div class="card-wrapper">
                <div class="row align-items-center">
                    <div class="col-12 col-md-4">
                        <div class="image-wrapper">
                            <img src="~/assets/images/team1.jpg" alt="Mobirise">
                        </div>
                    </div>
                    <div class="col-12 col-md">
                        <div class="card-box">
                            <h5 class="card-title mbr-fonts-style m-0 display-5">
                                <strong>Colm Sheehan</strong></h5>
                            <h6 class="mbr-fonts-style mb-3 display-4">
                                <strong>Business Information Systems Student</strong></h6>
                            <p class="mbr-text mbr-fonts-style display-7">This project was developed by Colm Sheehan as his final year project for the Bsc in Business Information Systems degree.</p>
                            <div class="social-row display-7">
                                <div class="soc-item">
                                    <a href="https://www.linkedin.com/in/colm-sheehan-7b5138151/" target="_blank">
                                        <span class="mbr-iconfont socicon-linkedin socicon"></span>
                                    </a>
                                </div>
                                <div class="soc-item">
                                    <a href="mailto:117366653@umail.ucc.ie" target="_blank">
                                        <span class="mbr-iconfont socicon-mail socicon"></span>
                                    </a>
                                </div>
                                <div class="soc-item">
                                    <a href="https://github.com/Colms152" target="_blank">
                                        <span class="mbr-iconfont mbrib-github"></span>
                                    </a>
                                </div>
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
    </div>
</section>

<section class="clients1 cid-ssj5wruTQI" id="clients1-15">
    
    <div class="images-container container">
        <div class="mbr-section-head">
            
            
            
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-md-3 card">
                <img src="~/assets/images/ucc-logo-rgb-simplified-240x111.jpg" alt="">
            </div>
            <div class="col-md-3 card">
                <img src="~/assets/images/bisucc-logo-nrbolbozj6on4o50l9aqh3v96k90lxxqyxl9bbq7qw-240x144.png" alt="">
            </div>
            <div class="col-md-3 card">
                <img src="~/assets/images/cubs-logo-col-240x117.jpg" alt="">
            </div>
            
            
            
            
            
        </div>
    </div>
</section>
